
.gallery{
    display: inline-block;
    border: 1px solid hsl(0,0%,60%);
    margin: 5px;
    position: relative;
    left: 20%;
    width: 200px;
}
.gallery:hover {
    border: 3px solid;
    
}

.gallery img{
    width: 100%;
    height: auto;
}